@import url("0xproto-nerd-font/0xproto-nerd-font.css");
body {
    font-family: "0xProto Nerd Font", sans-serif;
    background-color: #f5f5f5;
    color: #3; /* Changed color to a more readable dark gray */
    margin: 0;
    padding: 0;
    font-size: 14px; /* Increased font size for body text */
}
header, nav {
    background-color: #d9b3ff;
    color: #3; /* Changed color to a more readable dark gray */
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
}
section {
    background-color: #f5f5f5;
    color: #3; /* Changed color to a more readable dark gray */
    padding: 40px; /* Increased padding for sections */
    text-align: left;
}
h1{
    text-align: center;
    margin: 0;
    font-size: 2em; /* Increased font size for headings */
}
h2{
    text-align: center;
    margin: 0;
    font-size: 1.5em; /* Increased font size for headings */
}
h3 {
    text-align: center;
    margin: 0;
    font-size: 1.2em; /* Increased font size for headings */
}
nav a {
    color: #333; /* Changed color to a more readable dark gray */
    text-decoration: none;
    margin: 0 10px;
}
p {
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.6;
    margin-bottom: 20px; /* Added margin to separate paragraphs */
    font-size: 1.1em;
    text-align: center;
}
#nav {
    position: fixed;
    top: 0;
    width: 10%;
    transition: top 0.3s;
}
