    @keyframes rainbow {
      0% { color: #ff0000; }
      20% { color: #ff8000; }
      40% { color: #31004d; }
      60% { color: #00ff00; }
      80% { color: #0000ff; }
      100% { color: #ff00ff; }
    }
    h1 {
      animation: rainbow 5s infinite;
    }
		body {
		  font-family: Arial, sans-serif;
		  background-color: #130613;
		  color: #aa5580;
		  margin: 0;
		  padding: 0;
		 
		}
        header {
            background-color: #333;
            color: #b5617e;
            padding: 20px;
            text-align: center;
            padding: 20px;
        }
        nav {
            background-color: #444;
            color: #b5617e;
            padding: 15px;
            text-align: center;
            padding-top: 10px;
   			padding-right: 30px;
           	padding-bottom: 5px;
            padding-left: 30px;
            
        }
        nav a {
            color: #b5617e;
            text-decoration: none;
            margin: 0 10px;
        }
        section {
            padding-top: 10px;
  			padding-right: 30px;
  			padding-bottom: 50px;
 			padding-left: 80px;
           
        }
        section a {
          color: hotpink;
        }
        footer {
            background-color: #333;
            color: #b5617e;
            padding: 10px;
            text-align: center;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
		#nav {
	      background-color: #333;
	      position: fixed;
	      top: 0;
	      width: 100%;
	      transition: top 0.3s;
	    }    
		ul {
  		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		  background-color: #333;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: white;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		}

		/* Change the link color to #111 (black) on hover */
		li a:hover {
		  background-color: #111;
		}




